<h1>Main Menu</h1>
<!--ul>
  <li><%=link_to "Register Item", item_path(:new) %></li>
  <li><%=link_to "Record Incoming Item",track_path(:item_in) %></li>
  <li><%=link_to "Record Outgoing Item", track_path(:item_out) %></li>
  <li><%=link_to "Search for Item", item_path(:find) %></li>
  <li><%=link_to "Generate Reports", track_path(:item_out) %></li>
</ul-->
