<script type="text/javascript">
  var tt_cancel_destination = "/main/items"
</script>
<h1>Incoming Items</h1>
<p>
<%="Change new status for <strong>#{@item.name}(serial #{@item.serial_number})</strong>" +
  tag(:br)  if @item
%>

  <% if @item%>
  <% form_tag :controller =>"item", :action =>"save" do%>
    <%= hidden_field_tag :id, @item.id %>
    <%= hidden_field_tag :message, "item in"%>
    <%= render :partial=> "shared/status_fields", :locals=>{:fields=>@status_fields}%>
    <%= submit_tag "save" %>
  <% end %>
  <% else %>
  <%= render :partial=> "scan_item"%>
<% end %>
</p>

