<script type="text/javascript">
  var tt_cancel_destination = "/main/items"
</script>
<h5><%=flash[:notice]%></h5>
<h1>New Item</h1>
<%=error_messages_for :item,:status %>
<% form_for :item do |form| %>
<%= hidden_field_tag("status[message]","item in") %>
  <%=render :partial=> "shared/item_fields", :locals=>{:fields=>@item_fields} %>
  <%=render :partial=> "shared/status_fields", :locals=>{:fields=>@status_fields}%>
  <%=form.submit "Create" %>
<% end %>
