<style>
#scrollableTable{
height:   500px;
overflow: auto;
}
</style>

<p><%=  flash[:msg_on_item] if (@item_id == "")%></p>
<%=render "report_list" if (!@item || (@item && @item.nil?))%>
<%=  flash[:msg_on_item_status] if (@item_statuses.nil? || @item_statuses.empty?)%>
<%if ((@item) && (!@item_statuses.nil?))%>
A list of statuses for <b><%=@item.name%></b> <p>

  <div id="scrollableTable">
  
<table style="text-align: left;  width: 100%;  border: 0;">
  <tbody>
    <tr bgcolor="#CCCCEC"><td><b>Status</b></td><td><b>Reason</b></td><td><b>Updated at</b></td><td><b>Updated by</b></td><td><b>Action</b></td></tr>
  
  <% for @item_status in @item_statuses %>
    <tr bgcolor="#CCCCCC" ><td><%=@item_status.message %></td><td><%=@item_status.reason %></td><td><%=@item_status.updated_at.strftime("%H:%M:%S, %a, %d %b %Y")%></td><td><%=@item_status.who_updated if @item_status.who_updated%><br></td><td><%= link_to "Void this record" , { # link_to options
        :controller => 'item',:action => 'report', :void => true, :query=> @item.name, :id => @item_status.id}%></td></tr>
<%end%>
</tbody>
</table>
<br>

</div>
<%end%>

