<style type="text/css">
  .title {
    font-weight:bold;
  }
  .heading {
    font-weight:bold;
    font-size:1.1em;
    padding:10px 0;
  }
  #data{
    font-size:1em;
    /*float:left;*/
    border: 3px solid #FFFFFF;
    width: 330px;
  }
</style>

<h1><%=@item.name%></h1>
<div class="heading">
  Item Details
</div>
<div id="data">
  <table cellpadding="2" cellspacing="0">
    <tr> <td> <span class='title'>Model:</span> </td> <td><%=@item.model%> </td></tr>
    <tr> <td> <span class='title'>Serial Number:</span> </td> <td><%=@item.serial_number %> </span></td></tr>
    <tr> <td> <span class='title'>Barcode:</span> </td> <td><%=@item.barcode%></td></tr>
    <tr> <td> <span class='title'>Category:</span> </td> <td><%=@item.category%></td></tr>
    <tr> <td> <span class='title'>Manufacturer:</span> </td> <td><%=@item.manufacturer%></td></tr>
    <tr> <td> <span class='title'>Project name:</span> </td> <td><%=@item.project_name%></td></tr>
    <tr> <td> <span class='title'>Donor:</span> </td> <td><%=@item.donor%></td></tr>
  </table>
</div>

<div class="heading">
  Last Status Update
</div>

<div id="data">
  <% if @item_status %>
    <table cellpadding="2" cellspacing="0">
      <tr> <td> <span class='title'>Status:</span> </td> <td><%=@item_status.message %></td></tr>
      <tr> <td> <span class='title'>Item condition:</span> </td> <td><%=@item_status.item_condition %></td></tr>
      <tr> <td> <span class='title'>Time:</span> </td> <td><%=@item_status.updated_at.strftime("%a, %d %b %Y")%></td></tr>
      <%if @item_status.message == "item in"%>
        <tr> <td> <span class='title'>Delivered by:</span> </td> <td><%=@item_status.dispatcher%></td></tr>
      <%else%>
        <tr> <td> <span class='title'>Collected by:</span> </td> <td><%=@item_status.dispatcher%></td></tr>
      <%end%>
      <tr> <td> <span class='title'>Updated by:</span> </td> <td><%= "#{@item_status.who_updated}" if (@item_status.who_updated)%></td></tr>
      <%if @item_status.message == "item in"%>
        <tr> <td> <span class='title'>Location:</span> </td> <td><%=@item_status.location %></td></tr>
      <%else%>
        <tr> <td> <span class='title'>Destination:</span> </td> <td><%=@item_status.location %></td></tr>
      <%end%>
      
    </table>
  <% else %>
    <i> No Statuses Recorded yet</i>
  <% end %>
</div>
