<!--
	#****************************************************************************
	#
	# This is a partial form for creating new or editing users.
	#
	#****************************************************************************
-->
<p>
  <%= text_field 'user', 'username', {:helpText => 'Enter the username:',
      :value => @username, :allowFreeText => true, :textCase => 'lower'}
  %>
</p>                              
<!--%case controller.action_name when "new","edit" %-->
<p>

	<%= text_field 'user', 'first_name', :helpText => 'Enter the first name:',
      :ajaxURL => '/search/by_model?model=User&column=first_name&value=',
      :value => @user_first_name, :allowFreeText => true
  %>
</p>
<p>
	<%= text_field 'user', 'last_name', :helpText => 'Enter the last name:',
      :ajaxURL => '/search/by_model?model=User&column=last_name&value=',
      :value => @user_last_name, :allowFreeText => true
  %>
</p>
<p>
	<%= password_field 'user', 'password', :helpText => 'Enter the password:',:textCase => 'lower' %>
</p>
	
<p>
	<%= password_field 'user', 'password_confirmation',
    :helpText => 'Confirm the password:', :textCase => 'lower'
  %>
</p>
<p>
<%  #=# text_field 'user', 'role', :helpText => 'Enter the role of the user:',
   # :ajaxURL => '/search/by_model?model=Role&column=role',
    #:value => @user_last_name, :allowFreeText => false
%>
</p>
<%= @role = Role.find(:all,:order =>'role').map{|u|[u.role]}
  select(:user, :role, @role,{},
    {:tt_onload => "$('keyboard').style='display:block;'",
      :include_blank => true, :textCase => 'lower'})
%>

