<table width = 80% >
	<tr><td> </td> <td><b><u>Username</u></b> </td>
	<td><b><u>First Name</u></b></td><td><b><u>Last Name</u></b></td> 
	<td><b><u>Role</u></b></td><td><b><u>Password</u></b></td>
<ul>
  
<tr> <td><center>*</center></td>
<td> <%= h(@edit.username) %></td> 
	<td> <%= h(@edit.first_name) %></td>
<td> <%= h(@edit.last_name) %></td>
<td> <%= h(@edit.role) %></td>
<td><i>(not displayed)</i></td>
<td><%= link_to "[edit]" , { # link_to options
:controller => 'user',:action => 'edit',:id => @edit}%></td></tr>
</ul>

</table>
