
<% @report_name = 'Label Activity Report'%>
<div id="report-content">
  <%= render "report_header"%>
  <div id="report-section">
  <%= render "organizational_details"%>
  <div id='data'>   
    <table border="0" class="niceTable" >
       <tr class="row">
        <th>Date</th>
        <th>Location</th>
        <th>Dispatched by</th>
        <th>Quantity</th>
      </tr>
      <%@stock_activity_list.each do |data_row|%>
          <tr class="row">
              <td ><%= data_row.value_datetime%></td>
              <td ><%= data_row.location%></td>   
              <td ><%= data_row.dispatcher%></td>   
              <td ><%= data_row.Quantity%></td>             
          </tr>
       <%end%>
    </table>
    
    <div id="totals">
      <i> Total Items In : </i> <%=@total_items_in.to_s%>                            
    </div>
  </div>
  </div>
</div>
